name: Tests
on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  test:
    runs-on: ubuntu-24.04
    strategy:
      matrix:
        python-version:
          # adbc-driver-postgresql 1.6.0 supports Python 3.9.0 onwards
          - "3.9.0"
          - "3.10.0"
          - "3.11.1"
          - "3.12.0"
          - "3.13.0"
        postgresql-version:
          # ROLLBACK AND CHAIN is used by ADBC but not supported until PostgreSQL 13.0
          - "13.0"
          - "14.0"
          - "15.0"
          - "16.0"
          - "17.0"
          - "18.0"
        pyarrow-version:
          # adbc-driver-postgresql requires pyarrow.dataset which was added in PyArrow 15.0.0
          - "15.0.0"
          - "16.0.0"
          - "17.0.0"
          - "18.0.0"
          - "19.0.0"
          - "20.0.0"
          - "21.0.0"
          - "22.0.0"
        exclude:
          # These don't have compatible compiled pyarrow on PyPI (and was tricky to build)
          - python-version: "3.13.0"
            pyarrow-version: "15.0.0"
          - python-version: "3.13.0"
            pyarrow-version: "16.0.0"
          - python-version: "3.13.0"
            pyarrow-version: "17.0.0"
    steps:
      - name: "Checkout code"
        uses: actions/checkout@v4

      - name: Install uv and set the python version
        uses: astral-sh/setup-uv@v6
        with:
          python-version: ${{ matrix.python-version }}
          activate-environment: true

      - name: "Install package and dependencies"
        run: |
          uv pip install .[dev,ci,ci-pyarrow-${{ matrix.pyarrow-version }}]

      - name: "Start PostgreSQL"
        run: |
          ./start-services.sh ${{ matrix.postgresql-version }}

      - name: "Run tests"
        run: |
          pytest --cov

      - uses: codecov/codecov-action@v4
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
